*{
    font-family: 'Courier New', Courier, monospace;
}


body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
    height: 38em;
    background-color: rgb(44, 42, 42);
}

#contenedor-registro-exitoso{
    background-color: rgb(22, 44, 82);
    height: 15em;
    width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding: 0 1em;
}