<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/no-found.css">
    <title>ERROR</title>
</head>
<body>
    <div class="contenedor-1">
        <h1>ERROR, credenciales incorrectas</h1>
        <div id="anclas-regreso">
            <a href="{{url_for('interfaz_login')}}">iniciar sesion</a>
            <a href="{{url_for('interfaz_signUp')}}">Registrarme</a>
        </div>
    </div>
</body>
</html>