<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/saldo_editado_correctamente.css">
    <title>Saldo editado</title>
</head>

<body>
    <div id='contenedor-1' >
        <h2>El saldo se edito correctamente:</h2>
        <h3>Saldo Antiguo:</h3>
        <h3>{{saldo_antiguo}}</h3>
        <h3>Saldo Nuevo:</h3>
        <h3>{{saldo_nuevo}}</h3>        
        <div id="anclas-volver">
            <a href="{{url_for('interfaz_workspace')}}">Continuar</a>
        </div>
    </div>
</body>
</html>