<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/usuario-registrado.css">
    <title>Saldo editado</title>
</head>

<body>
    <div id='contenedor-1' >
        <h2>Usuario Registrado</h2>
        <h3>Documento del usuario creado: {{usuario}}</h3>
        <h3>Y el nombre : {{nombres}}</h3>        
        <div id="anclas-volver">
            <a href="{{url_for('interfaz_workspace')}}">Continuar</a>
        </div>
    </div>
</body>
</html>