<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cuenta-ya-existe.css">
    <title>404</title>
</head>
<body>
    <div class="contenedor-login-inexitente">
        <h1>Usa otro correo</h1>
        <div id="opciones-elejir">
            <a href="{{url_for('interfaz_login')}}">Iniciar sesion</a>
            <a href="{{url_for('interfaz_signUp')}}">Registrarme</a>
        </div>
    </div>
</body>
</html>

